.dropdownWrapper {
    position: relative;
    width: 250px;
    transition: 0.3;
}

.dropdownHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    cursor: default;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-color: "red";
}

.dropdownHeaderTitle {  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrowSvg {
    cursor: pointer;
    min-width: 30px;
    transition: 0.3s;
}

.dropdownList {
    z-index: 10;
    position: absolute;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 5px -1px #e8e8e8;
    max-height: 215px;
    overflow-y: scroll;
    box-sizing: border-box;

}

.dropdownListItem {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.dropdownListItem {
    color: #fff;
}

.dropdownElement:hover {
    background-color: rgba(0,0,0,0.07);
    color: white;
}

